<div class="container">
  <div class="jumbotron text-center jumbotron-img">
    <h1 class="display-4 jumbo-text">Welcome to the Burger Shop!</h1>
    <p class="lead jumbo-text">Put in your order please.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Orders Up!</h2>
        {{log "here I am to save the day"}}
        {{log burgers}}
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col text-center">
        <form class="create-form">
          <div class="form-group">
            <label for="brg"></label>
            <input type="text" id="brg" name="burger_name" placeholder="Order Here">
          </div>

          <button class='btn btn-lg btn-secondary add-burger' type="submit">Add Burger</button>
        </form>
      </div>
      <div class="col text-center">
        <h2>That was Yummy!</h2>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>